{# src/BenchmarkingBundle/Resources/views/Default/TailleEcran/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter une taille d'écran - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter une taille d'écran</h2>

  {{ include("BenchmarkingBundle:Default:TailleEcran/form.html.twig") }}

  <p>
    Cette taille d'écran sera ajoutée directement après validation du formulaire
  </p>

{% endblock %}
