{# src/BenchmarkingBundle/Resources/views/Default/TypeTdB/add.html.twig #}

{% extends "AdminBundle::layout.html.twig" %}


{% block title %}
  Ajouter un type de tableau de bord - {{ parent() }}
{% endblock %}

{% block admin_body %}

  <div class="panel-heading">
    <h4 class="panel-tile">Ajouter un type de tableau de bord</h4>
  </div>

  <div class="panel-body">
    {{ include("BenchmarkingBundle:Default:TypeTdB/form.html.twig") }}
  </div>

{% endblock %}
