{# src/BenchmarkingBundle/Resources/views/Default/TypeTdB/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter un type de tableau de bord - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter un type de tableau de bord</h2>

  {{ include("BenchmarkingBundle:Default:TypeTdB/form.html.twig") }}

  <p>
    Ce type de tableau de bord sera ajouté directement après validation du formulaire
  </p>

{% endblock %}
