{# src/BenchmarkingBundle/Resources/view/Default/TypeTdB/edit.html.twig #}

{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
  Modifier un type de tableau de bord - {{ parent() }}
{% endblock %}

{% block admin_body %}

  <div class="panel-heading">
    <h4 class="panel-title">Modifier un type de tableau de bord</h4>
  </div>

  <div class="panel-body">
    {{ include("BenchmarkingBundle:Default:TypeTdB/form.html.twig") }}

    <p>
      <a href="{{ path('typeTdB_view', {'id': typeTdB.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour au type de tableau de bord
      </a>
    </p>
  </div>



{% endblock %}
