{# src/BenchmarkingBundle/Resources/views/Default/FormatEcran/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter un format d'écran - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter un format d'écran</h2>

  {{ include("BenchmarkingBundle:Default:FormatEcran/form.html.twig") }}

  <p>
    Ce format d'écran sera ajoutée directement après validation du formulaire
  </p>

{% endblock %}
