{# src/BenchmarkingBundle/Resources/views/Default/BoiteVitesse/add.html.twig #}

{% extends "AdminBundle::layout.html.twig" %}


{% block title %}
  Ajouter une boîte à vitesse - {{ parent() }}
{% endblock %}

{% block admin_body %}

  <div class="panel-heading">
    <h4 class="panel-title">Ajouter une boîte à vitesse</h4>
  </div>

  <div class="panel-body">
    {{ include("BenchmarkingBundle:Default:BoiteVitesse/form.html.twig") }}
  </div>


{% endblock %}
