{# src/BenchmarkingBundle/Resources/views/Default/Vehicule/form.html.twig #}

<div class="well">
    {{ form(form) }}


        {{  form_row(form.composantsAffichage) }}
        <a href="#" id="add_composantAffichage" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter un composant</a>


        {{  form_row(form.fonctions) }}
        <a href="#" id="add_fonction" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Ajouter une fonction</a>

</div>

