{# src/BenchmarkingBundle/Resources/views/Default/AfficheurExistant/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter un afficheur  - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter un affficheur</h2>

  {{ include("BenchmarkingBundle:Default:AfficheurExistant/form.html.twig") }}

  <p>
    Cet afficheur sera ajouté directement après validation du formulaire
  </p>

{% endblock %}
