{# src/BenchmarkingBundle/Resources/views/Default/SousTechnologieAfficheur/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter une sous technologie afficheur - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter une sous technologie afficheur</h2>

  {{ include("BenchmarkingBundle:Default:SousTechnologieAfficheur/form.html.twig") }}

  <p>
    Cette sous technologie sera ajoutée directement après validation du formulaire
  </p>

{% endblock %}
