{# src/BenchmarkingBundle/Resources/views/Default/Localisation/add.html.twig #}

{% extends "::layout/layout.html.twig" %}


{% block title %}
  Ajouter une localisation - {{ parent() }}
{% endblock %}

{% block benchmarking_body %}

  <h2>Ajouter une localisation</h2>

  {{ include("BenchmarkingBundle:Default:Localisation/form.html.twig") }}

  <p>
    Cette localisation sera ajoutée directement après validation du formulaire
  </p>

{% endblock %}
