{# src/BenchmarkingBundle/Resources/views/Default/Segment/add.html.twig #}

{% extends "AdminBundle::layout.html.twig" %}


{% block title %}
  Ajouter un segment - {{ parent() }}
{% endblock %}

{% block admin_body %}

  <div class="panel-heading">
    <h4 class="panel-title">Ajouter un segment</h4>
  </div>

  <div class="panel-body">
    {{ include("BenchmarkingBundle:Default:Segment/form.html.twig") }}
  </div>



{% endblock %}
